
    <div class="more">
    <h1><u>ABOUT ME</u></h1>
    <p>Here you will find more information about me, what I do, and my current skills mostly in terms of programming and technology</p>
    
</div>
<div class="about">
    <div class="about1">
    <h1>Get to know me!</h1>
    <p>I'm a Frontend Web Developer building the Front-end of Websites and Web Applications that leads to the success of the overall product. Check out some of my work in the Projects section.</p>
     <p>I also like sharing content related to the stuff that I have learned over the years in Web Development so it can help other people of the Dev Community. Feel free to Connect or Follow me on my Linkedin where I post useful content related to Web Development and Programming.</p>
        
       <p> I'm open to Job opportunities where I can contribute, learn and grow. If you have a good opportunity that matches my skills and experience then don't hesitate to contact me.</p>
      <button class="btn">Contact</button>
    </div>
        <div class="about2">
            <h1>My Skills</h1>
            <button class="button">HTML</button>
            <button class="button">CSS</button>
            <button class="button">JAVASCRIPT</button>
            <button class="button">ANGULAR</button>
            <button class="button">C-PROGRAM</button>
            <button class="button">PYTHON</button>
            <button class="button">BOOTSTRAP</button>
            <button class="button">LINUX</button>
            <button class="button">SQL</button>
            <button class="button">RESPONSIVE DESIGN</button>
            <button class="button">ANDROID</button>
        </div> 
    </div>

