
    <div>
        <h1><u>Contact</u></h1>
        <p>Feel free to Contact me by submitting the form below and I will get back to you as soon as possible</p>
    </div>
    <div class="form">
        
        <form>
            <table>
            <label for="name">Name:</label><br>
            <input type="text" placeholder="Enter your name" class="name" required><br>
            <label for="email">Email:</label><br>
            <input type="email" placeholder="Enter your email" class="name" required><br>
            <label for="message">Message:</label><br>
            <textarea name="" placeholder="Enter your message" id="" cols="30" rows="10" class="name" required></textarea><br>
            <button>Submit</button>
        </table>
        </form>
    
    </div>


